<div class="jumbotron">
<div class = "row">
  <div class = "col-md-6">  
    <h1>Chalk Board Cafe!</h1>
    <p>Bites between classes!</p>
    <p>
    <%= link_to "Show Menu" , item_page_path ,class: "btn btn-warning btn-lg" %>
    <%= link_to "Place Order",new_order_path , class: "btn btn-danger btn-lg"%>
    </p>
  </div>
  <div class = "col-md-6">
    <img src = "http://spizzico.org/wp-content/uploads/2015/03/spizzico1.jpg", width = "100%",height = "100%">
  </div>
</div>
</div>